/*FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
/*END FONTS*/
body {
	margin : 0px ;
	padding: 0px ;
	background-color: #EAE2B7 ;
}
/*START NAV BAR*/
.nav {
	background-color: #003049 ;
	margin: 0px ;
	padding: 0px ;
	text-align: center ;
	list-style-type: none ;
	position: relative; 
	z-index: 10 ;
}
.nav li {
	display: inline-block;
	padding: 20px 10px ;
	font-size: 25px ;
}
.nav li a {
	text-decoration: none ;
	color: #FCBF49 ;
	font-family: 'Lobster' ;
}
.nav li a:hover {
	text-decoration: underline ;
}
.nav-svg {
	position: relative; 
	margin-top: -60px ;
	z-index: -10 ;
	height: 100px ;
}
/*END NAV BAR*/
.hr-line {
	width : 35% ;
	background-color: #003049 ;
	border: 1px solid black ;
	margin-bottom: 20px ;
	opacity: 0.5 ;
	margin-top: -8px ;
}
/*START FOOTER*/
.footer {
	height: 200px ;
	padding: 10px ;
	margin-top: 20px ;
	background-color: #003049 ;
	font-family: 'Prata' ;
	letter-spacing: 1px ;
	font-size: 20px ;
	text-align: center ;
}
.footer h3 {
	letter-spacing: 5px ;
	color: #FCBF49 ;
}
.footer p {
	color: white ;
}
.icon {
	width: 40px ;
}
.icon:hover {
	transform: scale(1.1 , 1.1) ;
}
/*END FOOTER*/
@media only screen and (max-width: 600px) {
  .nav li{
  	width : 60% ;
  	border-bottom: 1px solid #FCBF49 ;
  }
  .nav li:last-child {
  	border: none ;
  }
  .hr-line {
  	width: 60% ;
  }
}



